*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    min-height: 950px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 600px;
    width: 450px;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: rgb(241, 247, 244);


    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;

}

.card img{
    height: 35%;
    width: 100%;
    /* object-fit: cover; */
    /* margin-bottom: 80%; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* padding: 20px; */
    width: 80%;
    text-align: center;
}

#amountBox{
    width: 80%;
    height: 10%;
    background-color: rgba(145, 195, 243, 0.897);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.leftBox{
    height: 100%;
    display: flex;
    /* flex-direction: row; */
    /* width: fit-content; */
    gap: 15px;
    /* justify-content: center; */
    align-items: center;
}

.imageBox{
    /* align-self: center; */
    height: 3.5rem;
    width: 3rem;
    padding-top: 20px;
}

/* .rightBox{

} */

#paymentButton{
    width: 80%;
    height: 9%;
    background-color: rgb(8, 8, 129);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

#paymentButton p{
    color: white;
}

.cancelBox a{
    text-decoration: none;
    color: rgb(56, 52, 52);
    font-weight: bold;
}