*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
.navContainer{
    width: 100vw;
    /* background-color: rgb(121, 121, 224); */
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: linear-gradient(to right top, #143668e0, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    padding: 12px;
}
#navList{
    width: 100%;
    list-style: none;
    font-size: 1.5em;
    display: flex;
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
}

#navLogo{
    font-size: 2em;
    color: white;
}
a{
    text-decoration: none;
    color: purple;
}
#navItems{
    display: flex;
    gap: 20px;
}